/* You can add global styles to this file, and also import other style files */

html,
.mat-typography {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-color: dimgrey;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}